#playbutton {
    background-image: black;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 400px;
    margin-right: 400px;
}

#button1, #button2, #button3 {
    background-color: #0000ff;
    height: 150px;
    width: 150px;
    margin: 10px;
    float: left;
}

#button4, #button5, #button6 {
    background-color: #E0115F;
    height: 150px;
    width: 150px;
    margin: 10px;
    float: left;
}

#button7, #button8, #button9 {
    background-color: #E0115F;
    height: 150px;
    width: 150px;
    margin: 10px;
    float: left;
}